* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main section */

#main {
    height: 95vh;
    width: 100%;
    background: url(images/Wallpaper.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header in main section */

#main #header {
    height: 10%;
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#main #header .sun_icon {
    width: 2.3em;
    height: 2.3em;
    margin-right: 0.5em;
}

#main #header .header_title {
    font-weight: 800;
    font-size: 1.8em;
    color: white;
}

/* Add City section */

#main #add_city {
    height: 40%;
    width: 65%;
    padding: 3em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#main #add_city > h3 {
    margin-bottom: 1em;
    color: white;
    font-size: 1.5em;
}

#main #add_city > p {
    margin-bottom: 3em;
    color: white;
}

#main #add_city #input_field {
    height: 2.8em;
    background: white;
    width: 100%;
    border-radius: 0.3em;
    padding: 0.3em;
    position: relative;
}

#main #add_city #input_field #input_btn, #main #add_city #input_field #input_text {
    height: 100%;
}

#main #add_city #input_field #input_text {
    width: 85%;
    padding-left: 1em;
    border: none;
}

#main #add_city #input_field #input_btn {
    width: 14%;
    border: none;
    border-radius: 0.3em;
    float: right;
    cursor: pointer;
    color: white;
    background-color: rgb(46, 46, 103);
}

#main #add_city #input_field #input_btn:hover {
    opacity: 0.9;
}

#main #add_city #input_field #type_error {
    color: red;
    position: absolute;
    left: 50%;
    font-weight: 800;
    top: 100%;
    transform: translateX(-50%);
    background-color: rgb(122, 171, 171);
    padding: 0.5em 2em;
    border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    display: none;
}

/* Displayed City section */

#main #displayed_city {
    height: 50%;
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#main #displayed_city .added_city {
    width: 18%;
    height: 80%;
    background-color: white;
    margin: 1% 1%;
    border-radius: 0.4em;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main #displayed_city .added_city > h3 {
    margin-bottom: 1em;
    font-size: 1.4em;
    color: rgb(46, 46, 103);
}

#main #displayed_city .added_city > p {
    margin-bottom: 2.5em;
    color: gray;
}

#main #displayed_city .added_city > span {
    margin-bottom: 1em;
    font-size: 2.5em;
    font-weight: 800;
    color: rgb(46, 46, 103);
}

#main #displayed_city .added_city > a {
    text-decoration: none;
    color: white;
    background-color: rgb(46, 46, 103);
    padding: 0.5em 2em;
    border-radius: 0.4em;
}

#main #displayed_city .added_city > a:hover {
    opacity: 0.9;
}

/* Footer section */

#footer {
    height: 5vh;
    width: 100%;
    background-color: rgb(46, 46, 103);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#footer > p:first-child {
    padding-right: 1em;
    border-right: 1px solid white;
}

#footer > p:last-child {
    padding-left: 1em;
}

/* FORECAST STYLE */

#wrapperForecast {
    width: 85%;
    margin: 0 auto;
}

/* City info */

#cityInfo {
    background-color: white;
    padding: 2em;
    width: 65%;
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 0.5em;
    color: rgb(46, 46, 103);
    align-items: center;
}

#cityInfo > div:nth-child(2) {
    text-align: center;
}

#cityHeader > h2 {
    margin-bottom: 0.9em;
}

#cityHeader > p {
    margin-bottom: 0.5em;
}

#cityTemp > p {
    font-weight: 800;
    font-size: 3em;
}

#cityData {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
